@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Lobster&display=swap');

:root {
  --escuro: rgb(0, 0, 0);
  --amarelo: rgb(253, 216, 53);

  --primary-color: rgb(233, 217, 79);
  --secondary-color: rgb(247, 63, 63);

  --cor-da-esquerda: var(--primary-color);
  --cor-da-direita: var(--secondary-color);

  --navbar-height: 102px;
}

body {
  background-color: var(--escuro);
  margin: 0;
}

body a {
  cursor: pointer;
  text-decoration: none;
}

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active,
-webkit-any-link {
  margin: 0;
  padding: 0;
  font-size: 100%; /* Resets font size to default */
  font: inherit; /* Inherits font from parent element */
  vertical-align: baseline; /* Aligns vertically to the baseline */
  background: transparent; /* Removes background */
  color: inherit; /* Inherits color from parent element */
  text-decoration: none; /* Removes underline */
  cursor: pointer; /* Default cursor */
  border: 0; /* Removes border */
  outline: 0; /* Removes outline */
}

.content-wrapper-has-nav {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  position: relative;

  padding-top: var(--navbar-height);
}

.colored-toast.swal2-icon-success {
  background-color: #4dac61 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}

.lado {
  display: grid;
  height: 100vh;
  overflow: hidden;
  place-items: center;
  position: absolute;
  width: 100%;
}

.lado .titulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: 800;
  margin: 0px 10vw;
  width: 80vw;
}

.lado .detalhado {
  font-family: 'Lobster', cursive;
  font-size: 100px;
  line-height: 0.6em;
}

#lado-esquerdo {
  background-color: var(--cor-da-esquerda);
  width: 60%;
  z-index: 2;
}

#lado-esquerdo .titulo {
  color: white;
}

#lado-esquerdo .detalhado {
  color: var(--cor-da-direita);
}

#lado-direito {
  background-color: var(--cor-da-direita);
}

#lado-direito .titulo {
  color: var(--escuro);
}

#lado-direito .detalhado {
  color: white;
}

/** Estilos dos produtos **/

body {
  height: 100vh;
  margin: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #eee6bb;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23fb6969' fill-opacity='0.21'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.mensagem {
  font-family: 'Lobster', sans-serif;
  font-size: 60px;
  font-weight: 800;
  margin: 0px 10vw;
  width: 80vw;
  margin-top: 200px;
  color: #000000;
}

#produtos {
  height: 140vmax;
  width: 140vmax;
  position: absolute;
}

.cartao {
  border-radius: 1vmax;
  position: absolute;
  transition: transform 800ms ease;
  cursor: pointer;
}

.cartao:hover {
  transform: scale(1.1);
}

.cartao:hover > img {
  opacity: 1;
  transform: scale(1.01);
}

.cartao > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 800ms ease, transform 800ms ease;
}

.cartao:nth-child(1) {
  background-color: rgb(66, 165, 245);
  height: 14%;
  width: 20%;
  left: 5%;
  top: 5%;
}

.cartao:nth-child(2) {
  background-color: rgb(255, 238, 88);
  height: 24%;
  width: 14%;
  left: 42%;
  top: 12%;
}

.cartao:nth-child(3) {
  background-color: rgb(239, 80, 167);
  height: 18%;
  width: 16%;
  left: 12%;
  top: 34%;
}

.cartao:nth-child(4) {
  background-color: rgb(71, 30, 99);
  height: 14%;
  width: 12%;
  left: 45%;
  top: 48%;
}

.cartao:nth-child(5) {
  background-color: rgb(171, 71, 188);
  height: 16%;
  width: 32%;
  left: 8%;
  top: 70%;
}

.cartao:nth-child(6) {
  background-color: rgb(255, 167, 38);
  height: 24%;
  width: 24%;
  left: 68%;
  top: 8%;
}

.cartao:nth-child(7) {
  background-color: rgb(63, 81, 181);
  height: 16%;
  width: 20%;
  left: 50%;
  top: 74%;
}

.cartao:nth-child(8) {
  background-color: rgb(141, 110, 99);
  height: 24%;
  width: 18%;
  left: 72%;
  top: 42%;
}

.cartao:nth-child(9) {
  background-color: rgb(250, 250, 250);
  height: 10%;
  width: 8%;
  left: 84%;
  top: 84%;
}
